---
excerpt: "This is a selection of my publications, see [**here**](https://scholar.google.ca/citations?user=6N2hANkAAAAJ&hl=en) for more information."
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
header:
  overlay_image: ../images/headers/header.jpg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
---

<head>
  <style>
    h2 {
      color: #3498db;
    }

    p {
      margin-bottom: 20px;
    }

    div.body a {
      font-weight: bold;
      color: #103e6c;
    }
  </style>
</head>

<div class="body">


<h1>REFEREED JOURNAL PUBLICATIONS</h1>
(* stands for the corresponding author)


<h2><strong>2024</strong></h2>
<p>
  <a href="https://scholar.google.ca/citations?user=6N2hANkAAAAJ&hl=en"><em><strong>Can financial subsidy increase electric vehicle (EV) penetration-evidence from a quasi-natural experiment.</strong></em></a><br>
  Published in Renewable and Sustainable Energy Reviews<br>
  Shang, W. L., Zhang, J., Wang, K., Yang, H., & Ochieng, W. (2024). Can financial subsidy increase electric vehicle (EV) penetration-evidence from a quasi-natural experiment. <em><strong>Renewable and Sustainable Energy Reviews</strong></em>, 190, 114021.<br>
</p>

<h2><strong>2023</strong></h2>
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0739885923001002?casa_token=n5wDFt4xYrAAAAAA:PEasgWoOChOWu2craIpVOCTlumPflG5o3gNuQOa5tOF4rLYmC9_Bqmz-3Wfbi2sMxeDNtmE1tdI"><em><strong>Dynamic network relationship between transportation and urban economy: A case study of China's high-speed rail as a new transportation technology.</strong></em></a><br>
  Published in Research in Transportation Economics<br>
  Li, M., Li, H., Wang, K., Shen, S. (2023). Dynamic network relationship between transportation and urban economy: A case study of China's high-speed rail as a new transportation technology. <em><strong>Research in Transportation Economics</strong></em>, 102, 101360.<br>
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856423002598?casa_token=gB1yBYzrnKoAAAAA:ik8Q644rXvBudR3xcz-Z3yedyd2tRy0Kzsgcmr2W9TzYY-RnWSs2eoT-XMxXu2OTnkMI1pN0zAs"><em><strong>Restructuring Chinese railways from a cost-efficient perspective—A hedonic cost function analysis.</strong></em></a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Yu, K., Wu, J., Wang, K.*, Zhang, A., Zheng, S., Wang, Y., Li, H. (2023). Restructuring Chinese railways from a cost-efficient perspective—A hedonic cost function analysis. <em><strong>Transportation Research Part A: Policy and Practice</strong></em>, 177, 103839.<br>
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S014098832300590X?casa_token=89rtw25LPAYAAAAA:SnzD6tMZauwPaUsJDu6JI6tLMrnIj6tmvAFOIYdMXJRRwwXxpFg1Yprd1MZb8q-D0Oe71ITvO7U">Can low-carbon energy technology lead to energy resource carrying capacity improvement? The case of China.</a><br>
  Published in Energy Economics<br>
  Zhao, C., Dong, K.*, Wang, K., Dong, X. (2023). Can low-carbon energy technology lead to energy resource carrying capacity improvement? The case of China. Energy Economics, 107092.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856423002422">Promote transport facility Resilience: Persuasion or Subsidy?</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Zheng, S., Jia, R.*, Shang, W. L., Fu, X., Wang, K. (2023). Promote transport facility Resilience: Persuasion or Subsidy?. Transportation Research Part A: Policy and Practice, 176, 103822.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0140988323004632?casa_token=QBRZw3z43YUAAAAA:H7bX3tk_86dpnRLatEsIqBAYuEva3x4S9fLmKr-2NLLI00JGKbNGdvSSErl_Z9_XRrnK2tZc4Ws">How does clean energy transition promote original design manufacturers? A three-party evolutionary game analysis.</a><br>
  Published in Energy Economics<br>
  Zhao, C., Guo, Q., Jia, R., Dong, K.*, Wang, K. (2023). How does clean energy transition promote original design manufacturers? A three-party evolutionary game analysis. Energy Economics, 126, 106965.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X23002123?casa_token=bJkEdAAVd14AAAAA:YxjPRnIcMe0BSCYFDJaalxMCuAkjzBoWCPWRgZlQ2lJhrp6c06gfe2ZmfYJyuvKrPZIayC0D9kI">Can smart transportation inhibit carbon lock-in? The case of China.</a><br>
  Published in Transport Policy<br>
  Dong, K., Jia, R., Zhao, C., Wang, K. (2023). Can smart transportation inhibit carbon lock-in? The case of China. Transport Policy, 142, 59-69.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S2212095523002237?casa_token=77KrUNLIUxwAAAAA:EQ0JeCgIB9_j5qcXkiIx5L6OSsMU9t47qMpxUNDtCYDpxwOQH1uQB8vGuRy3dc6EOOfFobqc9po">How can Chinese cities escape from carbon lock-in? The role of low-carbon city policy.</a><br>
  Published in Urban Climate<br>
  Zhao, C., Dong, K., Wang, K., Taghizadeh-Hesary, F. (2023). How can Chinese cities escape from carbon lock-in? The role of low-carbon city policy. Urban Climate, 51, 101629.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0301420723005883?casa_token=tLP8XSDaiFEAAAAA:7DgAeyLPJfXUUCd7ZwbhDt9-ts3vHhRrheJliHvY3aJ-w7ywrxa7k1u1S4BCbkoX7OYDVhEGW18">Assessing the role of financial development in natural resource utilization efficiency: Does artificial intelligence technology matter?</a><br>
  Published in Resources Policy<br>
  Wang, J., Wang, K., Dong, K., Zhang, S. (2023). Assessing the role of financial development in natural resource utilization efficiency: Does artificial intelligence technology matter? Resources Policy, 103877.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S1366554523001990?casa_token=RcJrvtQ4oJAAAAAA:ELKIIIv8j1fPtmilf6MB-cahBdkSEndvW262dr2E31gYaWN5yH7JRZB5e4hgM5algE_GGLkskSM">Do domestic mergers improve airlines’ international competitiveness?---Theoretical and empirical evidence from China.</a><br>
  Published in Transportation Research Part E: Logistics and Transportation Review<br>
  Ma, W., Wang, K., Wang, Q., & Yang, H.* (2023). Do domestic mergers improve airlines’ international competitiveness?---Theoretical and empirical evidence from China. Transportation Research Part E: Logistics and Transportation Review, 176, 103211.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0306261923004853?casa_token=f3uz2MsrE08AAAAA:t-ARsZWk31DxQkrBCjI67tbUVdRILewa0ReP5qOZME5rGv6n6WaNq2x7R-NyYBdGcmQjpsNnFrw">Bike-sharing duopoly competition under government regulation.</a><br>
  Published in Applied Energy<br>
  Wang, Y., Jin, H., Zheng, S., Shang, W. L.*, Wang, K. (2023). Bike-sharing duopoly competition under government regulation. Applied Energy, 343, 121121.
</p>


<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0301420723003331?casa_token=-imJvcfdtlUAAAAA:xJeBKOXMR51r-HcHh3RciHqeOeZU7242q7lgLuKv8jtCa-Ez1spfPhme631R4lnGrVl_P6nBkTo">How does renewable energy encourage carbon unlocking? A global case for decarbonization.</a><br>
  Published in Resources Policy<br>
  Zhao, C., Wang, J., Dong, K.* (2023). How does renewable energy encourage carbon unlocking? A global case for decarbonization. Resources Policy, 83, 103622.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0140988323001895?casa_token=pQEQ4DDCqn0AAAAA:F66G-9CFnMh5vrg_VgC1SnCQOYI-FmKNE9YF6Z5xl47Nn6njBmRneSgKFOXPHLsNDX-fPm8gt0o">How does energy poverty eradication realize the path to carbon unlocking? The case of China.</a><br>
  Published in Energy Economics<br>
  Zhao, C., Dong, K.*, Jiang, H. D., Wang, K., Dong, X. (2023). How does energy poverty eradication realize the path to carbon unlocking? The case of China. Energy Economics, 121, 106691.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856423000629?casa_token=cNeku883eHUAAAAA:jCY29dB3YGwgyzdvrAE_59l8r4x3GA50VXX861n_kBmoN0cXob5Aa9HvBWN-QM4QEfdyrfH8EYI">Impact of CR Express and intermodal freight transport competition on China-Europe Route: Emission and welfare implications.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Zhang, Y., Zhang, A.*, Wang, K., Zheng, S., Yang, H., Hong, J. (2023). Impact of CR Express and intermodal freight transport competition on China-Europe Route: Emission and welfare implications. Transportation Research Part A: Policy and Practice, 171, 103642.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0264275123000616?casa_token=CZZflIh9YFAAAAAA:c6gaFsrzwBGb8duAv8Wt4uVt6Ls239SsuZddfdXVhFfzzMMfZARWIVZeFH-0EnjoGb3bMm_uHqg">How does innovative city policy break carbon lock-in? A spatial difference-in-differences analysis for China.</a><br>
  Published in Cities<br>
  Zhao, C., Wang, K., Dong, K*. (2023). How does innovative city policy break carbon lock-in? A spatial difference-in-differences analysis for China. Cities, 136, 104249.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856423000137?casa_token=JnKkffrsfqMAAAAA:GyHKE2kE8tZWLXTsQ9lSV14aWST4kEtIrTPhRJOolCFcuoA5pEnc9exGzGlJk6p0y240XEnm5Dk">Government interventions in regional airline markets based on aircraft size—Welfare and environmental implications.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Chen, Y., Hou, M., Wang, K., Yang, H*. (2023). Government interventions in regional airline markets based on aircraft size—Welfare and environmental implications. Transportation Research Part A: Policy and Practice, 169, 103593.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856423000083?casa_token=DAMcIO-p6EgAAAAA:V9Rm4D1cGTcjp0CIufg0JyXY3jd-XG9MYOO00GcGX5oUH84DH7FMpYoqdS-BZjnv1YxzrtGkYCM">How does high-speed rail affect tourism development? The case of the Sichuan-Chongqing Economic Circle.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Ren, X., Zeng, G., Dong, K.*, Wang, K. (2023). How does high-speed rail affect tourism development? The case of the Sichuan-Chongqing Economic Circle. Transportation Research Part A: Policy and Practice, 169, 103588.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S1361920922004047?casa_token=BJhULF1AZbUAAAAA:pz1P3wD_C4VqSYBny9m_IkbpA_1kfnQ2RP20O2hpfeU6X1gr9j7e0fq1-9GYevN8oaZxgC9uHSI">Can China's aviation network development alleviate carbon lock-in?</a><br>
  Published in Transportation Research Part D: Transport and Environment<br>
  Zhao, C., Dong, K., Zheng, S., Fu, X., Wang, K.* (2023). Can China's aviation network development alleviate carbon lock-in?. Transportation Research Part D: Transport and Environment, 115, 103578.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0313592623000048?casa_token=Hsf_ntswVXwAAAAA:I-DXnM8DC6J4AOEIHkNfdtwqiUK9vLyxXAbbSl_C4xbs5jH4G99YguJ7JT7Af-VZ8p3Qzy1hdpI">Towards green recovery: Platform economy and its impact on carbon emissions in China.</a><br>
  Published in Economic Analysis and Policy<br>
  Wang, J., Dong, K.*, Wang, K. (2023). Towards green recovery: Platform economy and its impact on carbon emissions in China. Economic Analysis and Policy, 77, 969-987.
</p>

<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0301420722007115?casa_token=UtPDwy5fr9AAAAAA:iT7vAsZevCEaYHBzU-16B-41vHMM6NZoeVvTYPvOAQuSjQxukXqT3pzxdJ4iKt_oELMi8w3ubUg">How does natural resource dependence influence carbon emissions? The role of environmental regulation.</a><br>
  Published in Resources Policy<br>
  Li, J., Dong, K.*, Wang, K., Dong, X. (2023). How does natural resource dependence influence carbon emissions? The role of environmental regulation. Resources Policy, 80, 103268.
</p>




<h2><strong>2022</strong></h2>
<!-- Research Paper 21 -->
<p>
  <a href="https://www.tandfonline.com/doi/full/10.1080/21680566.2022.2034550?casa_token=Y4EI-OG2IekAAAAA:kHfK804sucvtu9YA5zXcIdFv7K97MzQ52HhmfpeyrPHsBbQc2eJQeYQq2oxlhTLBIK_g8zTq37N-auM">"Wild your weekends" promotion and its effect on traffic recovery during COVID-19 pandemic.</a><br>
  Published in Transportmetrica B: Transport Dynamics<br>
  Zhang, L., Yang, H., Wang, K.*, Bian, L., Zhang, A. (2022). "Wild your weekends" promotion and its effect on traffic recovery during COVID-19 pandemic. Transportmetrica B: Transport Dynamics, 1-19.<br>
</p>

<!-- Research Paper 22 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0140988322005473?casa_token=M4J3J2Y8cywAAAAA:tC_JW3gOs3Er5XW9EPiNJJQ8X_4CFiLEXIpZuf8SYBaFhv1sHqO9FRkvWDmisiK22aEgaPmP3gU">How does energy trilemma eradication reduce carbon emissions? The role of dual environmental regulation for China.</a><br>
  Published in Energy Economics<br>
  Zhao, C., Dong, K.*, Wang, K., Dong, X. (2022). How does energy trilemma eradication reduce carbon emissions? The role of dual environmental regulation for China. Energy Economics, 106418.<br>
</p>

<!-- Research Paper 23 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856422002877?casa_token=8k06LIBhVHMAAAAA:fO3-Fv-nIIC0XtqBbTRk4fzOhcyfrD0-FCJhQl-3YyH9GGkrIlWhsYiy4HGoggSy-lUA4MeE-8Q">Joint Investment on Resilience of Cross-country Transport Infrastructure.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Zheng, S., Chen, X., Dong, K., Wang, K., Fu, X*. (2022). Joint Investment on Resilience of Cross-country Transport Infrastructure. Transportation Research Part A: Policy and Practice, 166, 406-423.<br>
</p>

<!-- Research Paper 24 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0191261522001825?casa_token=IJCRXdPeXvAAAAAA:bPzAoRY8okY00F7b6SsY_opz6cCxdrUHBHgIG3pDKcYudDdHgosLPZpij9ovml9Zs5IVAKMXQXo">The effects of information publicity and government subsidy on port climate change adaptation: Strategy and social welfare analysis.</a><br>
  Published in Transportation Research Part B: Methodological<br>
  Zheng, S., Wang, K., Fu, X.*, Zhang, A., Ge, Y. E. (2022). The effects of information publicity and government subsidy on port climate change adaptation: Strategy and social welfare analysis. Transportation Research Part B: Methodological, 166, 284-312.<br>
</p>

<!-- Research Paper 25 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S1364032122008516?casa_token=Zj67ND5UWaUAAAAA:NE_WPfjFP-8DyrBVAeRbmoe_1vH32zyTZzriIrPDGTij8G3Gbso3ghWBHLsB7n37qVKFMpNUaUk">Spatio-temporal distribution of Chinese cities’ air quality and the impact of high-speed rail.</a><br>
  Published in Renewable and Sustainable Energy Reviews<br>
  Liu, Q., Li, H., Shang, W. L.*, & Wang, K. (2022). Spatio-temporal distribution of Chinese cities’ air quality and the impact of high-speed rail. Renewable and Sustainable Energy Reviews, 170, 112970.<br>
</p>
<!-- Research Paper 26 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0960148122015452?casa_token=Lk05x1umH6oAAAAA:oq2hxrKxrR3XaMFSeRm6H-UXcqni17ZhLAUtH0RghznXEdeRfVl8TOSHLD0VCg8YKJ6FRzXlfHI">3G in China: how green economic growth and green finance promote green energy?</a><br>
  Published in Renewable Energy<br>
  Li, J., Dong, K., Taghizadeh-Hesary, F., Wang, K. (2022). 3G in China: how green economic growth and green finance promote green energy?. Renewable Energy, 200, 1327-1337.<br>
</p>

<!-- Research Paper 27 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0140988322004443?casa_token=0FEwbM_JR_cAAAAA:dA8bGg2Yp3Q2yt2h2ayzp3OU5TcUus0_zQD51gU71YPv15cy9KXyBx0Lc0gaFTbnOOg3sSHgks4">How does the digital economy accelerate global energy justice? Mechanism discussion and empirical test.</a><br>
  Published in Energy Economics<br>
  Wang, J., Wang, K., Dong, K., Shahbaz, M. (2022). How does the digital economy accelerate global energy justice? Mechanism discussion and empirical test. Energy Economics, 114, 106315.<br>
</p>

<!-- Research Paper 28 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0969699722000874?casa_token=oKVUUva8g2MAAAAA:ofvAnMg0fYytCn1Lvh3I--sHHsjC3E-HN7NPqztv5YNesUquFf5l8xO6xPBIdNlv1gcaRKIufP4">Intercity network expansion by low-cost carrier or high-speed rail, from the environmental perspective.</a><br>
  Published in Journal of Air Transport Management<br>
  Chen, Y., Yang, H., Wang, K., Guo, L. (2022). Intercity network expansion by low-cost carrier or high-speed rail, from the environmental perspective. Journal of Air Transport Management, 104, 102267.<br>
</p>

<!-- Research Paper 29 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0191261522000935?casa_token=jK2IXUDe_HsAAAAA:lI70ahrfu33JKbPdQBss7pfLqBOkf7OGBaejjD_WqNgyzXuR5glAw-yrQ-hjvhumRvIWEufqDy8">Subsidy on transport adaptation investment-modeling decisions under incomplete information and ambiguity.</a><br>
  Published in Transportation Research Part B: Methodological<br>
  Zheng, S., Wang, K.*, Chan, F. T., Fu, X., Li, Z. C. (2022). Subsidy on transport adaptation investment-modeling decisions under incomplete information and ambiguity. Transportation Research Part B: Methodological, 162, 103-129.<br>
</p>

<!-- Research Paper 30 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0191261522000753?casa_token=yaizGXK5dGIAAAAA:LhCfK2hPrQevaj-r2N0pugPyXG5B3bzkHV8eBeBjtn5oowFCAq2reJOVL4SQQlcK4I6GqL0Pgz0">The Impact of High-Speed Rail Competition on Airline On-Time Performance.</a><br>
  Published in Transportation Research Part B: Methodological<br>
  Jiang, C., Wang, K., Wang, Q., Yang, H.* (2022). The Impact of High-Speed Rail Competition on Airline On-Time Performance. Transportation Research Part B: Methodological, 161, 109-127.<br>
</p>

<!-- Research Paper 31 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X22000427?casa_token=1Mm7zU5EhugAAAAA:PSUM4Ve_5hJOyfyeIM_kOZdf0SZFiNH-b1e2q3MyyP_ud_QsHE-5P2dHoWliS7mmD_DhSBLRWn0">The electric vehicle promotion in the cold-chain logistics under two-sided support policy: An evolutionary game perspective.</a><br>
  Published in Transport Policy<br>
  Zhao, C., Ma, X., Wang, K.* (2022). The electric vehicle promotion in the cold-chain logistics under two-sided support policy: An evolutionary game perspective. Transport Policy 121, 14-34.<br>
</p>

<!-- Research Paper 32 (Continued) -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X22000488?casa_token=-hEfQP0XVgwAAAAA:zpD_XI_W9WWSyN03n7cSnjOMRZs39ZinpwDzexQ-OW5GXhmpXvImoLlPgD_tWXbNcMAxJZm9lNQ">Seaport’s investment under disaster information asymmetry between public and private operators.</a><br>
  Published in Transport Policy<br>
  Yang, R., Hu, R., Xiao, Y.*, Deng, X., Wang, K. (2022). Seaport’s investment under disaster information asymmetry between public and private operators. Transport Policy 119, 89-112.<br>
</p>

<!-- Research Paper 33 -->
<p>
  <a href="https://www.ingentaconnect.com/content/lse/jtep/2022/00000056/00000002/art00003">Airport-airline relationship, competition and welfare in a multi-airport system – the case of new Beijing Daxing airport.</a><br>
  Published in Journal of Transport Economics and Policy (JTEP)<br>
  Hou, M., Wang, K., Yang, H., Zhang, A.* (2022). Airport-airline relationship, competition and welfare in a multi-airport system – the case of new Beijing Daxing airport. Journal of Transport Economics and Policy (JTEP) 56(2), 156-189.<br>
</p>

<!-- Research Paper 34 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0968090X2100509X?casa_token=xkxJKH5soVwAAAAA:CyUlCZwDufQ--cS2SZeB24Hzvwx9c22JbrDHlkQn9IeGI1tNTG6vZUItqp4AfZeAg7Xb7yxCcuc">Dynamic incentive schemes for managing dockless bike-sharing systems.</a><br>
  Published in Transportation Research Part C: Emerging Technologies<br>
  Jin, H., Liu, S., So, K.G., Wang, K. (2022). Dynamic incentive schemes for managing dockless bike-sharing systems. Transportation Research Part C: Emerging Technologies 136, 103527.<br>
</p>

<!-- Research Paper 35 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0966692322000217?casa_token=BkHeRWGEAUEAAAAA:sl1usbsfZJEe8XgxggyQkEj0RyDCXlfSDnStI7S1CB7pcH3nrysVGd24H-vRG8f-0ImcLo2mF14">An analysis of the Chinese scheduled freighter network during the first year of the COVID-19 pandemic.</a><br>
  Published in Journal of Transport Geography<br>
  Deng, Y., Zhang, Y.*, Wang, K. (2022). An analysis of the Chinese scheduled freighter network during the first year of the COVID-19 pandemic. Journal of Transport Geography 99, 103298.<br>
</p>

<!-- Research Paper 36 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X2100336X?casa_token=j2t2VkVEMfEAAAAA:jN_IXqs1R722jYW29aIVSfd17ozvmTVdXyK7udMsBmyz_M-QAaqWTHxlFQL8qk1kleNC-0McOtk">Measuring Beijing's international air connectivity and suggestions for improvement post COVID-19.</a><br>
  Published in Transport Policy<br>
  Zhang, L., Hou, M., Liu, Y., Wang, K., Yang, H.* (2022). Measuring Beijing's international air connectivity and suggestions for improvement post COVID-19. Transport Policy 116, 132-143.<br>
</p>

<!-- Research Paper 37 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S014098832100565X?casa_token=OpDA5hCJGsEAAAAA:pYl15L6JzfiQZC2TdMzwFYxjN76ql6KVgK3xPVpUvHRf4EaFgZOLCC-B_MN4fCANyzpzN2w6zoY">Is smart transportation associated with reduced carbon emissions? The case of China.</a><br>
  Published in Energy Economics (ESI highly cited paper)<br>
  Zhao, C., Wang, K., Dong, X.*, Dong, K. (2022). Is smart transportation associated with reduced carbon emissions? The case of China. Energy Economics 105, 105715.<br>
</p>

<!-- Research Paper 38 -->
<p>
  <a href="URL">Title</a><br>
  Published in Journal Name<br>
  Authors (Year). Full citation.<br>
</p>

<h2><strong>2021</strong></h2>
<!-- Research Paper 39 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S1366554521002507?casa_token=-D1p1-GI34kAAAAA:0qwI8Oaiy4zHENgBhJ4yaQaNlg9NOfSMdWrZq-w0hmpZPkUdvKfQ_KYv1xQAyMO9az0xC60ItR4">Seaport adaptation to climate change disasters: Subsidy policy vs. adaptation sharing under minimum requirement.</a><br>
  Published in Transportation Research Part E: Logistics and Transportation Review<br>
  Zheng, S., Fu, X., Wang, K.*, Li, H. (2021). Seaport adaptation to climate change disasters: Subsidy policy vs. adaptation sharing under minimum requirement. Transportation Research Part E: Logistics and Transportation Review 155, 102488.<br>
</p>

<!-- Research Paper 40 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X21001785?casa_token=FGBdJvFJkNYAAAAA:cisx6A2kN6P2IKUeVKbfU7sRy6fnhZju2pIUHvAncLYlrcmvB1YiWtWCdfFAXp85o4tcxixGti4">Pandemic waves and the time after Covid-19–Consequences for the transport sector.</a><br>
  Published in Transport Policy<br>
  Rothengatter, W.*, Zhang, J., Hayashi, Y., Nosach, A., Wang, K., Oum, T. H. (2021). Pandemic waves and the time after Covid-19–Consequences for the transport sector. Transport Policy 110, 225-237.<br>
</p>

<!-- Research Paper 41 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0191261521000710?casa_token=czS_SPq0SY4AAAAA:TfVQuYO4esp0EVD1s7BW75jR0pYlM8TnR9-33Zbn08jpSG3m9qF86I2u-7XogYSMVQtVvvuW1jE">Subsidy or minimum requirement? Regulation of port adaptation investment under disaster ambiguity.</a><br>
  Published in Transportation Research Part B: Methodological<br>
  Zheng, S., Wang, K.*, Li, Z., Fu, X., Chan, F. (2021). Subsidy or minimum requirement? Regulation of port adaptation investment under disaster ambiguity. Transportation Research Part B: Methodological 150, 457-481.<br>
</p>

<!-- Research Paper 42 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0969699721000673?casa_token=DfbB0_VfMS4AAAAA:PITxXdSGBQirY3e0q02J0Hu8f9ZIpEpZ-0ZoNftpiptTawlnSiXxsr3-RErrh7MC2NkzzJzeyQE">The impact of COVID-19 on airline passenger travel behavior: An exploratory analysis on the Chinese aviation market.</a><br>
  Published in Journal of Air Transport Management<br>
  Zhang, L., Yang, H., Wang, K.*, Bian, L., Zhang, X. (2021). The impact of COVID-19 on airline passenger travel behavior: An exploratory analysis on the Chinese aviation market. Journal of Air Transport Management 95, 102084.<br>
</p>

<!-- Research Paper 43 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X21000780?casa_token=ANMBFr3hvhsAAAAA:06n1DOazVTDKOBGgCS0Oqsy3WOeP-SUvNgIz9L45eyV0BGsE6KcItzrj9SVqhUsWV-_SecWm23w">Public-Private Partnership in High-Speed Rail Financing: Case of Uncertain Regional Economic Spillovers in China.</a><br>
  Published in Transport Policy<br>
  Huang, Y., Jiang, C., Wang, K.*, Xiao, Y., Zhang, A. (2021). Public-Private Partnership in High-Speed Rail Financing: Case of Uncertain Regional Economic Spillovers in China. Transport Policy 106, 64-75.<br>
</p>

<!-- Research Paper 44 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0969699721000302?casa_token=WW71vsH2ZZMAAAAA:mfhF9SrZqI8vYqKfyQAr-ku7imnidyT8O0S2xqfXAobO5bd6h9rcMPhjSDA0kdTZgQ5sWOwOwMc">Hub airport slot Re-allocation and subsidy policy to speed up air traffic recovery amid COVID-19 pandemic---case on the Chinese airline market.</a><br>
  Published in Journal of Air Transport Management<br>
  Hou, M., Wang, K.*, Yang, H. (2021). Hub airport slot Re-allocation and subsidy policy to speed up air traffic recovery amid COVID-19 pandemic---case on the Chinese airline market. Journal of Air Transport Management 93, 102047.<br>
</p>

<!-- Research Paper 45 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0969699721000089?casa_token=fQUupmtyhZoAAAAA:M_V76iYx_DkHfW8vDTbKqigh6B-Cou3Njtg8LuMEqLLt4y_Ys7Tf4DCQ5RNjgxFVqV8NwAQyvq0">An exploratory analysis of flight delay propagation in China.</a><br>
  Published in Journal of Air Transport Management<br>
  Tan, X., Jia, R., Yan, J., Wang, K.*, Bian, L. (2021). An exploratory analysis of flight delay propagation in China. Journal of Air Transport Management 92, 102025.<br>
</p>

<h2><strong>2020</strong></h2>
<!-- Research Paper 46 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0969699720305019?casa_token=skfXlRX6AlUAAAAA:gkESCuQy377c_-OyS_SVb2H9qeSmY6mTUQTetY24WfdykV-aWmLqS6XKmITUlVpDPq1Sw6XWE-8">Measuring imported case risk of COVID-19 from inbound international flights---A case study on China.</a><br>
  Published in Journal of Air Transport Management<br>
  Zhang, L., Yang, H., Wang, K.*, Zhan, Y., Bian, L. (2020). Measuring imported case risk of COVID-19 from inbound international flights---A case study on China. Journal of Air Transport Management 89, 101918. (ESI highly cited paper).<br>
</p>

<!-- Research Paper 47 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X20305643?casa_token=OjTTkIpFduoAAAAA:ADEOoaeBPwUESCaw_zpbMxHJDXrGHS9DAQdABwUKok2ykPENJKd5rT1NKlSkkhOetah_IshxyuE">Socially optimal lockdown and travel restrictions for fighting communicable virus including COVID-19.</a><br>
  Published in Transport Policy<br>
  Oum, T. H., Wang, K.* (2020). Socially optimal lockdown and travel restrictions for fighting communicable virus including COVID-19. Transport Policy 96, 94-100. (ESI highly cited paper).<br>
</p>

<!-- Research Paper 48 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856420306455?casa_token=yLl85oGuvioAAAAA:XhH0-_2w6P7_iP8IMTcbDtZ8m7CggF7WX-2AJZDe-bFpJ6yvOQEmwSbKqgGiajFS4_r76I79-00">Air and rail connectivity patterns of major city clusters in China.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Wang, K., Jiang, C.*, Ng, A. K., Zhu, Z. (2020). Air and rail connectivity patterns of major city clusters in China. Transportation Research Part A: Policy and Practice 139, 35-53.<br>
</p>

<!-- Research Paper 49 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X1930887X?casa_token=rOW8Wz-S4xoAAAAA:mEGzMbK0ZC7Yap-JHyy6C8T6Z7JqtqlOrK9eYBapqMXvJTIPckfEYQA1eYiFqSTz0dolbwoVPEM">On-time performance policy in the Chinese aviation market-An innovation or disruption?.</a><br>
  Published in Transport Policy<br>
  Fu, X., Lei, Z., Liu, S., Wang, K.*, Yan, J. (2020). On-time performance policy in the Chinese aviation market-An innovation or disruption?. Transport Policy 95, A14-A23.<br>
</p>

<!-- Research Paper 50 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X20303929?casa_token=ZkQ6o2kl8iMAAAAA:fogsmjfsqL9gLyteiyK97XpX5l7LDJZYv7qIe1GjF_iBXDSBlKOgJxvJTcJKX3fchp2XCB3matA">Are conventional train passengers underserved after entry of high-speed rail?-evidence from Chinese intercity markets.</a><br>
  Published in Transport Policy<br>
  Li, H., Wang, K.*, Yu, K., Zhang, A. (2020). Are conventional train passengers underserved after entry of high-speed rail?-evidence from Chinese intercity markets. Transport Policy 95, 1-9.<br>
</p>

<!-- Research Paper 51 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X19309850?casa_token=s11fVWnquZUAAAAA:edcIWBrDp9ARgUAX6W0-Qi6r4p40-7Wa8j7wE0djmj05cn5oPJ2ykFWQN-xSC_BldC10V-nEv9k">Welfare implications for air passengers in China in the era of high-speed rail.</a><br>
  Published in Transport Policy<br>
  Yang, H., Ma, W.*, Wang, Q., Wang, K., Zhang, Y. (2020). Welfare implications for air passengers in China in the era of high-speed rail. Transport Policy, 95, A1-A13.<br>
</p>

<!-- Research Paper 52 -->
<p>
  <a href="https://www.tandfonline.com/doi/full/10.1080/17421772.2019.1708443?casa_token=9K2nSuOWRXAAAAAA%3ATCB6wqeysjWoBFQ2bTjiUR-m75CEX6XTWgpNR2StQFhlVJI-EuS5Rb97NZL2-BmJCwlNKFxvtrBqSiI">Seaport adaptation to climate change-related disasters: terminal operator market structure and inter-and intra-port coopetition.</a><br>
  Published in Spatial Economic Analysis<br>
  Wang, K.*, Yang, H., Zhang, A. (2020). Seaport adaptation to climate change-related disasters: terminal operator market structure and inter-and intra-port coopetition. Spatial Economic Analysis 15(3), 1-25.<br>
</p>

<!-- Research Paper 53 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0969699719305198?casa_token=PA6Wnacx-9oAAAAA:VBUUEGliIljJPKITbvZQ_ITP9zdOCU7Hfx88ccZPyHS9hN3dYuwbxybGqrpdOBaYTESp2PTZZzc">Whether low-cost-carrier passengers spend more on duty-free goods at the airport? Evidence from Incheon International Airport.</a><br>
  Published in Journal of Air Transport Management<br>
  Choi, J. H., Park, Y., Wang, K.*, Xia, W. (2020). Whether low-cost-carrier passengers spend more on duty-free goods at the airport? Evidence from Incheon International Airport. Journal of Air Transport Management 86, 101834.<br>
</p>

<!-- Research Paper 54 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X20301517?casa_token=qnzIpUbQjCQAAAAA:7X7jOsVPG1ACtfNJzwydpu2CN5YEAfCDueXYezdj3JoZrEfAtPxAa6iT5KTPTPiz3ugdedVJSlo">Entry pattern of low-cost carriers in New Zealand-The impact of domestic and trans-Tasman market factors.</a><br>
  Published in Transport Policy<br>
  Wang, K., Tsui, W. H. K.*, Li, L. B., Lei, Z., Fu, X. (2020). Entry pattern of low-cost carriers in New Zealand-The impact of domestic and trans-Tasman market factors. Transport Policy 93, 36-45.<br>
</p>

<!-- Research Paper 55 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856417311813?casa_token=xoP80kDysDsAAAAA:KBA-caps75Xyk_7jziCOR-LHFbiGdpqIXwPO1owJsRLbOI3M-zzPOnIz0p83hfSxakTbWaDfyns">Modeling the potential for aviation liberalization in Central Asia–Market analysis and implications for the Belt and Road Initiative.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Wang, K., Fu, X.*, Czerny, A. I., Hua, G., Lei, Z. (2020). Modeling the potential for aviation liberalization in Central Asia–Market analysis and implications for the Belt and Road Initiative. Transportation Research Part A: Policy and Practice 134, 184-210.<br>
</p>

<!-- Research Paper 56 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S2210539519301981?casa_token=pvcrLU81LJoAAAAA:qGcPpcIsa3pv4YrseBNnSz5lvNtxoamnTLoZH51ITAIteZBykOSKmQgJzqnohB9kXfH-F8NkFgc">Quantifying market potential for sustainable air connectivity improvement–A counterfactual analysis based on augmented gravity model estimates.</a><br>
  Published in Research in Transportation Business & Management<br>
  Li, L. B., Fu, X., Lei, Z., Wang, K.*, Seno-Alday, S. (2020). Quantifying market potential for sustainable air connectivity improvement–A counterfactual analysis based on augmented gravity model estimates. Research in Transportation Business & Management, 100425.<br>
</p>

<h2><strong>2019</strong></h2>
<!-- Research Paper 57 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0739885919302586?casa_token=Q_0rosRrmIoAAAAA:BHCeJFqW2d_ydSSkWNvJgCs1ANx3e2VXDI5KQicKQ0HL02Wxq4b5w5fVycZ_DIe1b4if9DlQ33o">A comparative study of airline efficiency in China and India: A dynamic network DEA approach.</a><br>
  Published in Research in Transportation Economics<br>
  Yu, H., Zhang, Y.*, Zhang, A., Wang, K., Cui, Q. (2019). A comparative study of airline efficiency in China and India: A dynamic network DEA approach. Research in Transportation Economics 76, 100746.<br>
</p>

<!-- Research Paper 58 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X1830903X?casa_token=_3toQSYfaO8AAAAA:oZHxouBafX60q3Me_p8pd2PITAU5d_YEzapvdj6j2uWs9X4R6LfZrNyONY3kp0EISMD2XnO6WYk">The impact of rail dispatch system reform on import by rail- empirical evidence from a natural experiment in China.</a><br>
  Published in Transport Policy<br>
  Yuan, H., Wang, K.*, Yang, H., Wang, C. (2019). The impact of rail dispatch system reform on import by rail- empirical evidence from a natural experiment in China. Transport Policy 79, 165-176.<br>
</p>

<!-- Research Paper 59 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856418309935?casa_token=o6hjvU4xkEYAAAAA:YdSZF8YGfs3OWW8sbicWRJvdzNoAD6f5-cWbMtlRQ3J80iRrQ13Dz5jdzV0szKYhHGyaTFCq3kA">Determining factors of air passengers’ transfer airport choice in the Southeast Asia–North America market: Managerial and policy implications.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Choi, J. H.*, Wang, K., Xia, W., Zhang, A. (2019). Determining factors of air passengers’ transfer airport choice in the Southeast Asia–North America market: Managerial and policy implications. Transportation Research Part A: Policy and Practice 124, 203-216.<br>
</p>

<!-- Research Paper 60 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0191261518304430?casa_token=7H1eXIzgj5AAAAAA:5kuv3NPokUhJ9ARTCzZPHIhU9TDTWyM3Ypd5IlJPF4Ut--3IsfEBPgkUhF6ouFIPOOiEu0jgRRg">Air-rail revenue sharing in a multi-airport system: Effects on traffic and social welfare.</a><br>
  Published in Transportation Research Part B: Methodological<br>
  Xia, W., Jiang, C., Wang, K*., Zhang, A. (2019). Air-rail revenue sharing in a multi-airport system: Effects on traffic and social welfare. Transportation Research Part B: Methodological 121, 304-319.<br>
</p>

<!-- Research Paper 61 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X18304815?casa_token=kfkeJKVm7OkAAAAA:VRkONBJ9l6ULMwYC0lgI7pCP4v5ONiU2U48lEHEm06ftaOUHzFy22jXekiZxT2ouZdVgyo8iFFM">Measuring the effects of open skies agreements on bilateral passenger flow and service export and import trades.</a><br>
  Published in Transport Policy<br>
  Oum, T., Wang, K.*, Yan, J. (2019). Measuring the effects of open skies agreements on bilateral passenger flow and service export and import trades. Transport Policy 74, 1-14.<br>
</p>

<!-- Research Paper 62 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S096585641830750X?casa_token=6r-46AUV9hgAAAAA:sz2GXXAa6lpuTp4KjaauHtPWjuvz3_RiBSc04PMh7yjg9NV29Tx9JCfTXk_w9Qr9eSxtJKLPqNU">Market power and its determinants in the Chinese railway industry.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Li, H., Yu, K., Wang, K., Zhang, A*. (2018). Market power and its determinants in the Chinese railway industry. Transportation Research Part A: Policy and Practice 120, 261-276.<br>
</p>

<!-- Research Paper 63 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0167718717304198?casa_token=3XAUxBx2zlAAAAAA:G0_OvvA2MdozmTy67GP3wwCIR1AEX2wsD7IStknHR2qTlsXuNBW20dmFvvF12Y6ZsQJ1xhQyQdY">Airline horizontal mergers and productivity: empirical evidence from a natural experiment in China.</a><br>
  Published in International Journal of Industrial Organization<br>
  Yan, J., Fu., X.*, Oum, T., Wang, K. (2019). Airline horizontal mergers and productivity: empirical evidence from a natural experiment in China. International Journal of Industrial Organization 62, 358-376.<br>
</p>


<h2><strong>2018</strong></h2>
<!-- Research Paper 64 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X18305614?casa_token=aX400fU6UUYAAAAA:Br8QqzzzM-UH7iwitcoc-XMiFhqqF9-gjCMqU12caMu75GH-yuIGTECEiCDwGHCF2oO0cRegWDc">Joint impact of airline market structure and airport ownership on airport market power and profit margin.</a><br>
  Published in Transport Policy<br>
  Choo, Y., Corbo, L., Wang, K.* (2018). Joint impact of airline market structure and airport ownership on airport market power and profit margin. Transport Policy 72, 67-78.<br>
</p>

<!-- Research Paper 65 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0191261517311852?casa_token=930Rw96wjWMAAAAA:nNx4GFmv28adOK_RM_gRAKiKcCmeCtZFF41Gy7u14Un4R0ocpGaNddr6FaHDdGzDl629XsBFoqM">Climate change, natural disasters and adaptation investments: Inter-and intra-port competition and cooperation.</a><br>
  Published in Transportation Research Part B: Methodological<br>
  Wang, K.*, Zhang, A. (2018). Climate change, natural disasters and adaptation investments: Inter-and intra-port competition and cooperation. Transportation Research Part B: Methodological, 117, 158-189.<br>
</p>

<!-- Research Paper 66 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0969699718301042?casa_token=09Lw6uTRbjMAAAAA:2vs-xQ8nvae1Qbfg33RIx6M7jfRZsAJF7_NIgEFhJDgH7FgOLn361EGp7gbeGh7CnDdLgNd0KKQ">Determinants of partnership levels in air-rail cooperation.</a><br>
  Published in Journal of Air Transport Management<br>
  Li, X., Jiang, C., Wang, K.*, Ma, J. (2018). Determinants of partnership levels in air-rail cooperation. Journal of Air Transport Management 71, 88-96.<br>
</p>

<!-- Research Paper 67 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0191261518300687?casa_token=NZBkwPz22EkAAAAA:Dn9nt82dKvNEsGk39CUpQMDG0zhTZf6rY2n9ac0yNy2GeahVXwfIjKiAKmOWuV5N_BGY1JZhz74">Effects of train speed on airline demand and price: Theoretical analysis and empirical evidence from a natural experiment.</a><br>
  Published in Transportation Research Part B: Methodological<br>
  Wang, K., Xia, W., Zhang, A.*, Zhang, Q. (2018). Effects of train speed on airline demand and price: Theoretical analysis and empirical evidence from a natural experiment. Transportation Research Part B: Methodological 114, 99-130.<br>
</p>

<!-- Research Paper 69 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0967070X17304493?casa_token=Aw64LKqUZbAAAAAA:LpN6qLq_4gOA-KUN7_ncoqXYVvV3KOTDKS0WDPcLqunK_oBBNtfjR6GgsTfUMmpEDlj7nLyKjSc">Key determinants of airline pricing and air travel demand in China and India.</a><br>
  Published in Transport Policy<br>
  Wang, K., Zhang, A., Zhang, Y.* (2018). Key determinants of airline pricing and air travel demand in China and India. Transport Policy 63, 80-89.<br>
</p>

<!-- Research Paper 70 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856417315690?casa_token=gGsrzJjvk1EAAAAA:haXmP1ua06jnZgAuXsWEBuXk0LtXv4NJEIKeZXXv6lX0nH4PR6ueO6pQAvggiyV50z_2VrdG854">Emission charge and liner shipping network configuration – an economic investigation of the Asia-Europe route.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Dai, W.L., Fu, X., Yip, TL, Hu, H., Wang, K.* (2018). Emission charge and liner shipping network configuration – an economic investigation of the Asia-Europe route. Transportation Research Part A: Policy and Practice 110, 291-305.<br>
</p>

<h2><strong>2017</strong></h2>
<!-- Research Paper 68 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0966692316305920?casa_token=qr9eQz6awisAAAAA:bQ2Iwwwkou8vFqYcnARUYJuAV6Dt384QGMRDa9a-U2eu11HGRh6hAqRbxmvciAb588r4LBYUEYM">International trade drivers and freight network analysis- the case of Chinese air cargo sector.</a><br>
  Published in Journal of Transport Geography<br>
  Gong, Q., Wang, K., Fan, X., Fu, X*. (2017). International trade drivers and freight network analysis- the case of Chinese air cargo sector. Journal of Transport Geography 71, 253-262.<br>
</p>

<!-- Research Paper 71 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856417305566?casa_token=rdbJyTyG45EAAAAA:SPT_WHj7rSHMjnR5_0ZMxaDaqgy4JcwZNAQ_8Jj_ZZRVCS2BJ6lvqZdHiQMyBrkhSObedVBdmsM">Air transport services in regional Australia: Demand pattern, frequency choice and airport entry.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Zhang, Y., Wang, K.*, Fu, X. (2017). Air transport services in regional Australia: Demand pattern, frequency choice and airport entry. Transportation Research Part A: Policy and Practice 103, 472-489.<br>
</p>

<!-- Research Paper 72 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856417305542?casa_token=oBcCcBskJ5IAAAAA:64w1lRTNLh0BC5Kwqx1B65LTralN_ilU46uflYTFKG732Y-iC4WWr4mPlFDvOA0ewkRP9KjaWNk">Connectivity at Chinese airports: the evolution and drivers.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Zhang, Y., Zhang, A.*, Zhu, Z., Wang, K. (2017). Connectivity at Chinese airports: the evolution and drivers. Transportation Research Part A: Policy and Practice 103, 490-508.<br>
</p>

<!-- Research Paper 74 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856416311740?casa_token=u-KVhtVnLPcAAAAA:9JB5Gzl4Ze9o13eVCP40bm5_br319dUwj5hSNW1itVRLnDKOdfgLVWGIsFm5_7gTQSeXKKzMoNY">Should China further expand its high-speed rail network? Consider the low-cost carrier factor.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Wang, K., Xia, W., Zhang, A.* (2017). Should China further expand its high-speed rail network? Consider the low-cost carrier factor. Transportation Research Part A: Policy and Practice 100, 105-120. (ESI highly cited paper)<br>
</p>

<h2><strong>2016</strong></h2>
<!-- Research Paper 73 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0969699716302940?casa_token=Sab820l3HRYAAAAA:KtJ7CuIoZ_fOimiyEuYvEfOouKSuiUlwif69yzVDBh-iHYk0I7jB5148bP4Sg28frcEsFxx3y_I">Entry pattern of low-cost carriers in Hong Kong and implications to the regional market.</a><br>
  Published in Journal of Air Transport Management<br>
  Wang, K., Tsui, W.H.*, Liang, L., Fu, X. (2016). Entry pattern of low-cost carriers in Hong Kong and implications to the regional market. Journal of Air Transport Management 64, 101-112.<br>
</p>

<h2><strong>2015</strong></h2>
<!-- Research Paper 75 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856415000683?casa_token=lms9AF0ZURgAAAAA:4H6hZ2rD1nVZsHlRodfyWbCr3vl6zYY9_eDw5FBfT_mdE9_mvL3_n1sVsiSV7XJNh8NiLKA0E8M">Low-cost carrier competition and route entry in an emerging but regulated aviation market–the case of China.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Fu, X., Lei, Z.*, Wang, K., Yan, J. (2015). Low-cost carrier competition and route entry in an emerging but regulated aviation market–the case of China. Transportation Research Part A: Policy and Practice, 79, 3-16.<br>
</p>

<!-- Research Paper 76 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0965856415000841?casa_token=RkqCaT4p9T8AAAAA:KMl8iJA7V8k6E-Ee6Nt2v14ZCob6c-GKOPT8Rjnwa_qoiHtBWzULe5Pitvs1HvWv8W-BPT8zBNg">Modeling the impacts of alternative emission trading schemes on international shipping.</a><br>
  Published in Transportation Research Part A: Policy and Practice<br>
  Wang, K., Fu, X., Luo, M*. (2015). Modeling the impacts of alternative emission trading schemes on international shipping. Transportation Research Part A: Policy and Practice, 77, 35-49.<br>
</p>

<h2><strong>2014</strong></h2>
<!-- Research Paper 77 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S0969699713001567?casa_token=-bSdXe8zz7MAAAAA:877OwvtCwrArBHaOedpZkbl6v_TmST-2VaxhhfbrcwRCQ_t4eghCfeO6DcnJJKZEbj3kdn8KZMg">Benchmarking the performance of Chinese airlines – an investigation of productivity, yield, and cost competitiveness.</a><br>
  Published in Journal of Air Transport Management<br>
  Wang, K., Fan, X., Fu, X.* (2014). Benchmarking the performance of Chinese airlines – an investigation of productivity, yield, and cost competitiveness. Journal of Air Transport Management 38, 3-14.<br>
</p>

<!-- Research Paper 78 -->
<p>
  <a href="https://www.sciencedirect.com/science/article/pii/S096969971300152X?casa_token=bDMTGrBQZO4AAAAA:hv1YNOb0d6T0Un076k9l_4f3f5F00nRdgY-TMncV-B6gd5aDrTIxD6ZrX4s13qcZ8q4pUuiNsJc">Frequency and aircraft size dynamics in a concentrated growth market: The case of the Chinese domestic market.</a><br>
  Published in Journal of Air Transport Management<br>
  Wang, K., Fu, X.*, Fan, X. (2014). Frequency and aircraft size dynamics in a concentrated growth market: The case of the Chinese domestic market. Journal of Air Transport Management 36, 50-58.<br>
</p>

<h2><strong>2012</strong></h2>
<!-- Research Paper 79 -->
<p>
  <a href="https://link.springer.com/article/10.1057/mel.2012.13">Cooperation or competition? Factors and conditions affecting regional port governance in south China.</a><br>
  Published in Maritime Economics & Logistics<br>
  Wang, K., Ng, A. K. Y.*, Lam, J.S.L., Fu, X. (2012). Cooperation or competition? Factors and conditions affecting regional port governance in south China. Maritime Economics & Logistics 14, 386-408.<br>
</p>


<h1>BOOK CHAPTERS</h1>
<!-- Book Chapter 1 -->
<p>
  <strong>China's recent railway developments and policy reforms</strong><br>
  <em>Market Development and Policy for One Belt and One Road</em>, ed. Xiaowen Fu, Paul Lee, Elsevier, Forthcoming (2022).<br>
  Wang, K.*, Xia, W., Zhang, A.
</p>

<!-- Book Chapter 2 -->
<p>
  <strong>Insights from recent economic modeling on port adaptation to climate change</strong><br>
  <em>Maritime Transport and Regional Sustainability</em>, ed. Adolf Ng, Jason Monios & Changmin Jiang, Elsevier, Forthcoming (2020).<br>
  Randrianarisoa, L., Wang, K., Zhang, A.
</p>

<!-- Book Chapter 3 -->
<p>
  <strong>Air transport and high-speed rail interactions in China: A review on impacts of low-cost carriers, rail speed, and modal integration</strong><br>
  <em>Advances in Airline Economics, Volume 7</em>, ed. Xiaowen Fu & James H. Peoples, Emerald Group Publishing Limited, Bingley, United Kingdom, Forthcoming (2018).<br>
  Xia, W., Wang, K., Zhang, A.
</p>

<!-- Book Chapter 4 -->
<p>
  <strong>Market development and aviation liberalization in Central Asia</strong><br>
  <em>Airline Economics in Asia, Advances in Airline Economics, Volume 7</em>, ed. Xiaowen Fu & James H. Peoples, Emerald Group Publishing Limited, Bingley, United Kingdom (2018).<br>
  Czerny, A., Fu, X., Hua, G., Lei, Z., Wang, K.
</p>

<!-- Book Chapter 5 -->
<p>
  <strong>The Effects of mergers on airline performance and social welfare</strong><br>
  <em>Airline Efficiency, Advances in Airline Economics, Volume 5</em>, ed. John D. Bitzan, James H. Peoples & Wesley W. Wilson, Emerald Group Publishing Limited, Bingley, United Kingdom, pp. 131-59 (2016).<br>
  Yan, J., Fu, X., Oum, TH., Wang, K.
</p>


</div>

<!-- Repeat the above structure for the remaining research papers -->

<!-- Include the next research paper here -->
<!--
<p>
  <a href="URL">Title</a><br>
  Published in Journal Name<br>
  Authors (Year). Full citation.<br>
</p>
-->
<!-- Repeat for each remaining research paper -->



<!--
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.publications reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
-->
